/* ======== ENCABEZADO ======== */
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #003366; /* Azul oscuro */
    color: white;
    padding: 20px;
    text-align: center;
}

.titulo-principal {
    font-size: 2rem;
    font-weight: bold;
}

.imagen-redondel {
    margin-top: 10px;
}

.titulo-logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
